img {
  width: 80px;
  height: 80px;
  padding-left: 0%;
  }
h1 {
    padding-top: 5%;
    text-align: center;
  }
li {
      float: right;
      padding: 8px;
      list-style: square;
      color: rgb(61, 1, 26);
      font-style: normal;
  }
  input { 
    width: 100%
    
      
  }
div {
  background-color: rgb(40, 152, 218);
}
label {
  font-style: oblique;
  padding-right: 20px ;
  text-align: center;   
}

body {
  background-color: rgb(138, 187, 216);
}

textarea {width: 500px;
  height: 90px;
  }