body {
    font-family: Arial;
  }
  * {
    box-sizing: border-box;
  }
  input[type=text],
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #eeeeee;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;
  }
  button {
    background-color: lightblue;
    color: black;
    padding: 12px 20px;
    border: 2px solid rgb(170, 59, 59);
    
  }
  button:hover {
    background-color: #6fe8d7;
  }
  .formcon {
    border-radius: 4px;
    background-color: lavender;
    padding: 20px;
    border: 2px solid black;
  }