img {
    width: 80px;
    height: 80px;
    padding-left: 1%; 
    }
li {
        float: left;
        padding: 8px;
        list-style: none;
        color: black;
        font-style: italic;
    }
h2 {
    padding-top: 5%;
}
.title {
    background-color: rgb(6, 88, 6);
}
label {
    font-style: oblique;
    padding: 20px;
    padding-bottom: 10px;    
}

input[type=text],textarea {
    width: 100%;
    padding: 12px;
}
input[type=submit] {
background-color: rgb(186, 209, 186);
padding: 12px 20px;
border: none;
cursor: pointer;
border-radius: 4px;
}

input[type=submit]:hover {
background-color: rgb(5, 80, 5);
}
body {
 background-color:rgb(116, 209, 116);
}

