body {
    background-color: rgb(39, 233, 233);
    background-image: url("../../img/rojaebeckford/bg1.png")
    
  }
  
  h1 {
    color: rgb(212, 87, 97);
    margin-left: 20px;
    font-family: Georgia, serif;
}

table, th, td {
    border: 1px solid rgb(255, 0, 0);
    font-family: "Sofia", sans-serif;
    font-size: 150%;
    color: rgb(0, 0, 0);
    margin-top:-600px;
    margin-left:440px;

  }

  #roundme {
    border-radius: 25px;
    background: url("../../img/rojaebeckford/img1.jpg");
    background-position: left;
    background-repeat: no-repeat;
    padding: 20px; 
    background-size: cover;
    width: 400;
    height: 500;
  }
  
 
  