

nav ul {

 list-style-type: none;
 margin: 0;
 padding: 0;
 width: 200px;

}

nav li a {

display: block;
padding: 8px 16px;

}


body {
    color:pink;
    background-color: bisque;
    font-family:Verdana,sans-serif;font: size 0.6em;
}